# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache

# Node modules and output
node_modules
dist
public/fonts
src/admin/css
src/_includes/manifest.json
admin/partials
public/css
admin/scripts/templates.js
.11ty-vite

# Local Netlify folder
.netlify