# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache

# Node modules and output
node_modules
dist
public/fonts
public/css
src/_includes/manifest.json
admin/partials
admin/css
.11ty-vite

# Local Netlify folder
.netlify