.burger-menu__trigger {
    display: none;
}

burger-menu {
    --IconColor: var(--SecondaryText);
    --IconColorBg: var(--Secondary);
    color: var(--SecondaryText);
    width: 2rem;
    height: 2rem;
    display: none;
    [data-overflow-link] {
        visibility: hidden;
    }

  .burger-menu__panel * {
        position: relative;
        z-index: -666;
    }

    .menu-info {
      margin-top: 2rem;
      visibility: hidden;
    }
}

[data-hidden-link] {
    display: none;
}

body[data-menu-open] {
    overflow-y: hidden;
}

.burger-menu[enabled='true'][status='open'] {
    [data-overflow-link] {
        visibility: visible;
    }
    li[data-overflow-link] {
        margin: 1.1rem 0;
        font-size: 1.4rem;
    }

    .menu-info {
        visibility: visible;
    }

    .burger-menu__panel * {
        position: relative;
        z-index: initial;
    }
}

.contact-data {
    li {
        margin: 1rem 0;
    }        
}

@include up-to(medium) {
    [data-desktop-link] {
        display: none;
    }

    [data-hidden-link] {
        display: flex;
        visibility: hidden;
    }

    .burger-menu[enabled='true'] {
        [data-overflow-link],[data-hidden-link] {
            visibility: visible;
        }
        
    }
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
  display: block;
  width: 24px;
  height: 3px;
  background: currentColor;
  border: 1px solid currentColor;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  margin-left: -12px;
  transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.burger-menu__bar::before,
.burger-menu__bar::after {
  content: '';
}

.burger-menu__bar::before {
  top: -8px;
}

.burger-menu__bar::after {
  bottom: -8px;
}

.burger-menu[enabled='true'] .burger-menu__trigger {
    display: block;
    width: 2rem;
    height: 2rem; /* Nice big tap target */
    position: relative;
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
  }
  
  .burger-menu[enabled='true'] .burger-menu__panel {
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(var(--site-header) + var(--site-padding)) var(--site-padding) 2rem var(--site-padding);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: var(--Secondary);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change:opacity;
    pointer-events: none;
}
  
  .burger-menu[enabled='true'] .navigation ul {
    display: block;
  }
  
  .burger-menu[enabled='true'] .navigation ul > * + * {
    margin-top: 2rem;
  }
  
  .burger-menu[enabled='true'] .navigation li {
    font-size: 1.5rem;
  }

  .burger-menu[enabled='true'][status='open'] .burger-menu__panel {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(.17,.67,.83,.67);
    transform: translateY(0);
    pointer-events: initial;
  }
  
  .burger-menu[enabled='true'][status='closed'] .burger-menu__panel > * {
    opacity: 0;
    transform: translateY(5rem);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__panel > * {
    transform: translateY(0);
    opacity: 1;
    transition: transform 400ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms, opacity 400ms ease
        700ms;
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu[enabled='true'][status='open'] .burger-menu__bar {
    background: transparent;
    border-color: transparent;
    transform: rotate(180deg);
  }
  
