.action-button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.6rem 0.6rem;
    display: inline-block;
    border-radius: 1rem;
    margin-top: 1rem;
    background: var(--Primary);
    font-family: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    @include up-from(xxlarge) {
        font-size: 1.5rem;
        padding: 0.7rem 0.9rem;
     }

     &[disabled] {
         background: var(--Secondary50);
         opacity: 0.3;
         cursor: not-allowed;
     }
}


.cta-primary {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
    color: var(--PrimaryText);
    background: var(--Primary);
    border: solid 2px transparent;
}

.call-to-action {
    display: flex;
    flex-wrap: wrap;
    a:not(:last-child) {
        margin-right: 0.5rem;
    }

    .cta-secondary {
        color: var(--PrimaryText);
        background: var(--Secondary);
        border: solid 2px currentColor;
    }

    a:active {
        box-shadow: none;
    }
}


@include up-to-height($height-small) {
    p.subtitle {
        font-size: 1rem;
    }
    p.description {
        font-size: 0.75rem;
    }
}
