.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size, 300px), 1fr));
}

.no-gap {
    gap: 0 !important;
}

.grid-gap {
    gap: var(--site-padding);
}

.grid-start {
    align-items: flex-start;
}


@include up-from(xsmall) {
   .grid-columns {
    --min-column-size:300px;
   }
}

@include up-from(small) {
    .grid-columns {
     --min-column-size:25em;
    }
 }
 

.video-section {
    --video-size: 100%;
    margin: var(--site-padding);
    display: flex;
    flex-direction: column;
    .section-title {
        max-width: var(--video-size);
        width: 100%;
    }

    .bottom-section {
        margin-top:0;
    }
}

.split-50 {
    min-width: 500px;
}

.section-title {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-cl {
    flex-direction: column;
}

.video-grid {
    padding:0 !important;
    @include up-from(large) {
        .card-grid {
            grid-template-columns: 2fr 2fr;
        }
    }
}

.secondary-bg {
    background: var(--Secondary);
    color: var(--SecondaryText);
}

.block-title {
    padding: calc( 2 * var(--site-padding)) var(--site-padding);
    h2 {
        margin-bottom:0.5rem;
    }
    .description {
        max-width: 100ch;
        margin-top: 1rem;
        line-height: 1.4rem;
    }
}