footer {
    ul {
        list-style-type: none;
        padding:0;
    }
    color: var(--SecondaryText);
    --IconColor: currentColor;
    --IconColorBg: var(--Secondary);
    padding: var(--site-padding);
    font-size: 0.875rem;
    @include up-to(medium) {
        min-height: calc(100vh - ((var(--site-header) + var(--site-padding))));
    }
    p, p.description, p.subtitle {
        line-height: 1rem;
        font-size: 0.85rem;
    }
    p.subtitle {
        margin-top:0.5rem;
    }

    a {
        text-decoration: underline;
    }

    p.description {
        max-width: 27ch;
    }

    .call-to-action {
        a {
            margin: 1rem 0;
        }
        flex-direction: column;
       * {
        max-width: fit-content;
       }
    }

    h2 {
        width: 20ch;
        line-height: 1.8rem;
    }

    h3 {
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .footer-links {
        font-size: 0.85rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
        a {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        .sub-info {
            margin-top: 0.5rem;
            max-width: 27ch;
            color: var(--SecondaryText50);
        }
    }
    .sub-header {
        margin-bottom: 2rem;
        font-size: 0.85rem;
        
    }
}


.copyright {
    width: 100%;
    text-align: center;
    font-size: 0.55rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    section {
        margin-bottom: 1rem;
    }
}
