form {
    padding-top: 2rem;
    padding-bottom: var(--site-padding);
    .action-button {
        margin-top:0;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--site-padding);
}

fieldset {
    border: none;
    padding:0;
    margin: 0;
}

label, legend {
    font-size: 0.875rem;
    padding:0;
    margin: 0.25rem 0;
}

.field {
    width:100%;
    display:block;
    max-width: 100% 
}

input, textarea {
    border:none;
    padding:0.5rem .25rem;
    margin-bottom: 1rem;;
}

textarea {
    height: 100%;
    min-height: 10rem;
}

.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.inline-field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    label, input {
        margin: 0;
        padding: 0;
    }
    label {
        font-size: 0.75rem;
        margin: 0 0.5rem 0 0;
    }
    label:not(:first-of-type) {
        margin-left: 1rem;
    }

    input[type="checkbox"] {
        margin-right:0.5rem;
    }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      --active: var(--Primary);
      --active-inner: #fff;
      --focus: 2px var(--Secondary50);
      --border: #BBC1E1;
      --border-hover: var(--Primary);
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
      }
    }
    input[type='checkbox'] {
      & {
        border-radius: 3px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
    }
    input[type='radio'] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }
      &:checked {
        --s: .5;
      }
    }
  }