header {
    color: var(--SecondaryText);
    background: var(--Secondary);
}

.header-hero-full {
    position: relative;
    min-height: calc(100vh - (var(--site-header) + var(--site-padding)));
}

.primary-text {
    color: var(--Primary);
}