
@keyframes pulsate-once {
  0% { 
      opacity: 0;
  }
  25% { 
      opacity: 0.5;

  }
  50% { 
      opacity: 1.0;
  }

  70% { 
    opacity: 0.5;
  }

  100% { 
    opacity: 1.0;
  }
}

@keyframes fadein {
  0% { 
      opacity: 0;
  }

  100% { 
    opacity: 1.0;
  }
}

.hero {
    height: 100%;
    display: flex;
    padding: var(--site-padding);
    .hero-text {
        position: relative;
        z-index: 2;
    }
    h1, .subtitle, .description {
      opacity: 0;
      animation: fadein 1s ease-in forwards;
    }
    .subtitle {
      animation-delay: 600ms;
    }
    .description {
      animation-delay: 2.5s;
    }
    .call-to-action {
      margin-top:3rem;
      @include up-to(small) {
        margin-top:1rem;
      }
      @include up-to-height($height-small) {
        margin-top:1rem;
      }
    }

    @include up-to($height-small-portrait) {
      .hero-scroll-down {
        display: none;
      }
    }
    @include up-to-height($height-small) {
      .hero-scroll-down {
        display: none;
      }
    }
    
    img {

      @keyframes herofadein {
        0% {
          opacity: 0;
        }

        100% {
          opacity: var(--hero-opacity);
        }

      }
        z-index: 1;
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right:0;
        object-fit: cover;
        --hero-opacity: 0.8;
        opacity:0;
        animation: herofadein 1500ms ease-in forwards;
        animation-delay: 600ms;
        @include up-to (small) {
            --hero-opacity: 0.2;
            left: 8rem;
            bottom: 0;
        }
        @include up-to (medium) {
            --hero-opacity: 0.2;
            bottom: 0;
            top: auto;
            height: 78%;
            left:0;
        }
        @include up-to (large) {
            --hero-opacity: 0.2;
        }

        @include up-to-height($height-small) {
          right:0;
          left: initial;
          height: 100%;
        }
    }
    @keyframes wiggle {
        0% {
          transform: translateY(-10px);
        }
      
        50% {
          transform: translateY(0px);
        }
      
        75% {
          transform: translateY(-10px);
        }
      
        100% {
          transform: translateY(-5px);
          opacity: 0.6;
        }
      }
    svg {
        fill: var(--SecondaryText);
        height: 2.5rem;
        width: 2.5rem;
        animation: wiggle 0.7s forwards;
        animation-delay: 4.5s;
        transform: translateY(-20px);
        transition:  opacity 0.3s ease-in-out;
        opacity: 0;
    }

    p.subtitle {
      margin-top:1.5rem;
      color: var(--SecondaryText50);
      font-size: 1.5rem;
      @include up-from(xxlarge) {
          font-size: 1.6rem;
      }
  }
  
  p.description {
      font-size: 1.2rem;
      max-width: 45ch;
      margin-top:1.5rem;
      @include up-from(xxlarge) {
         font-size: 1rem;
      }
  }
}

.header-hero-medium {
  img {
    height: 135%;
    right: 0rem;
    top: 0;
  }
}

.header-hero-small {
  img {
    --hero-opacity:0.2;
    height: 140%;
    right: -5rem;
    top: 0;
    left: auto;
  }
}

.sheets {
  img {
    --hero-opacity:0.4;
    right: -5rem;
    @include up-to (medium) {
     right:0;
     --hero-opacity:0.1;
    }
  }
  @include up-from(large) {
      min-height: calc(73vh - (var(--site-header) + var(--site-padding)));
  }
}

.hero {
  .hero-link {
    a {
      color: var(--SecondaryText);
      font-weight: 600;
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        margin-bottom: 10px;
        width: 90%;
        height: 5px;
        background: var(--Primary);
        position: absolute;
        bottom: -18px;
        left: 0;
        z-index: -1;
    }
    &:hover {
      font-weight: normal;
      &::after {
        background: currentColor;
      }
    }
    }
  
  }
  .call-to-action a {
    opacity: 0;
    animation: pulsate-once 3s ease-in forwards;
    animation-iteration-count: 1;
  }
  a.cta-primary {
    animation-delay: 1s;
  }

  a.cta-secondary {
    animation-delay: 2s;
  }
}