.icondesc {
    svg {
        * {
            fill: var(--IconColor);
        }
    }
    gap: var(--site-padding);
    img, svg {
        flex:2;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h2 {
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 0.875rem;
    }

    p {
        font-size: 0.75rem;
        max-width: 40ch;
        margin-top:0.5rem;
        margin-bottom: 0;

    }

    @include up-to(medium) {
        p {
            max-width: initial;
        }
    }
}

.icondesc li:nth-child(odd) {
    --IconColor: var(--Primary);
}

.icon-link {
    a {
        display: flex;
        align-items: center;
    }
    svg {
        fill: var(--PrmaryText);
        height: auto;
        width: 2rem;
        margin-right: 1rem;
    }
    display: flex;
    align-items: center;
}

.grid-icons {
    --min-column-size:150px;
    padding:0;

    @include up-to(small) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        svg {
            height: 3rem;
        }
    }
}

.grid-small {
    @include up-to(medium) {
        .card-grid {
            display: flex;
            justify-content: center;
        }
        .grid-icons {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            flex-direction: column;
            li {
                flex-direction: row;
                justify-content: center;
                align-items: center;

                svg {
                    flex:1;
                    width: 2rem;
                    height: 2rem;
                }

                p {
                    margin-left:1rem;
                    flex:4;
                    text-align: left;
                }
            }
        }
    }
}