a.site-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    z-index: 1;
    @include up-from(xxlarge) {
        font-size: 1.5rem;
    }
    svg {
        height: 2.5rem;
        width: auto;
        margin-right: 0.5rem;
    }
    
}

.logo-small {
    width: 3.5rem;
    height: auto;
}