nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    color: var(--SecondaryText);
    background: var(--Secondary);
    display: flex;
    z-index: 4;
    position: sticky;
    top:0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--site-padding);
    background: var(--Secondary);
    min-height: var(--site-header);
    a {
        text-decoration: none;
    }
    a.more-link {
        display: flex;
        align-items: center;
        margin-left: 0.3rem;
        &:hover, &:focus {
            border-color: transparent;
        }
        svg {
            fill: currentColor;
            width: 0.875rem;
        }
    }
    ul {
        text-transform: uppercase;
        list-style-type: none;
        padding:0;
        margin: 0;
    }
    ul.nav-links {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.9rem;
        @include up-to (small) {
            justify-content: center;
        }
        @include up-from(xxlarge) {
            font-size: 1rem;
        }

    }

    .burger-list {
        height: auto;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }

    li {
        margin: 0 0.5rem;
        a {
            border-bottom: solid 5px transparent;
            &:hover, &:active {
                border-bottom: solid 5px currentColor;
            }
        }
    }
    li:last-of-type {
        margin-right: 0;
    }

    .active {
        a {
            color: var(--SecondaryText50);
        }
    }
}