.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top:2rem;
    a, a:hover {
        border-bottom:none !important;
    }

    li {
        margin:0;
    }
    
    svg {
        height: auto;
        width: 1.5rem;
        /* icon color fix */
        --Secondary: var(--PrimaryText);
    } 
    li:not(:last-child) {
        margin-right: 1rem;
    }
 }