{%- set levels = levels or component %}
<article style="--min-column-size:300px" class="levels-card card-width-container">
{%- if levels %}
    <div style="--grid-ish-size: 20em;" class="grid-ish testimonial-levels">
    {%- asyncEach level in levels.data.items %}
       {%- include "partials/components/level.njk" %}
    {%- endeach %}
    </div>
{% endif %}
</article>
