<h2>{{playlist.data.title}}</h2>
<div>{{playlist.templateContent | safe}}</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{playlist.data.id}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p><b>*This is just a video preview, live site looks different</b></p>