<section>
{%- set quote = quote or component %}
{%- if quote %}
<div id="{{quote.data.name | slugify }}" class="quote-card">
    <blockquote>{{quote.templateContent | safe}}</blockquote>
</div>
{%- endif %}
</section>