{%- set slogan = component.data or slogan.data %}
{% if slogan %}
<article class="slogan no-padding">
    <ol class="grid-ish icondesc">
        {%- for item in slogan.items %}
            <li class="logo-small padded">
                {%- if (loop.index % 2) == 0 %}
                {%- Image "images/cg-logo-alt-black.svg","CG Guitar logo",true -%}
                {%- else %}
                {%- Image "images/cg-logo-alt.svg","CG Guitar logo",true -%}
                {%- endif -%}
                {%- if item.title -%}
                <h2 {% if (loop.index % 2) != 0 %}class="primary-text"{%- endif %}>{{item.title}}</h2>
                {%- endif -%}
                <p>{{item.text}}</p>
            </li>
        {%- endfor %}
    </ol>
</article>
{% endif %}