{%- set testimonial = testimonial or component %}
<li class="testimonial brick large-img">
    <div class="quote-wrapper">
        <div class="quote">{{testimonial.templateContent | safe}}</div>
    </div>
    {%- if testimonial.data.image -%}
        {%- Image testimonial.data.image, "CG Guitar student profile picture", true -%}
        {%- else -%}
        <div class="placeholder-image">
            {%- include 'images/default-test.svg' %}
        </div>
    {%- endif -%}
    <div class="bottom-section">
        <p class="author">{{testimonial.data.name}}</p>
    </div>
</li>