.testimonial-levels {
  color: var(--SecondaryText);
  padding: 0;
}

.level {
  padding: calc(2 * var(--site-padding)) calc(2 * var(--site-padding)) !important;
  h3 {
    margin-bottom: 2rem;
  }
}

.quote,
blockquote {
  font-style: italic;
  display: block;
  font-size: 0.95rem;
  position: relative;
  margin: var(--site-padding) 0 var(--site-padding) 1.5rem;

  @include up-from(large) {
    max-width: 40ch;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -1.5rem;
    top: -1rem;
    background-color: currentColor;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--quote-image-start, url(/images/svg/start-quote.svg));
    -webkit-mask-image: var(
      --quote-image-start,
      url(/images/svg/start-quote.svg)
    );
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    bottom: -1.5rem;
    right: -1.5rem;
    background-color: currentColor;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--quote-image-end, url(/images/svg/end-quote.svg));
    -webkit-mask-image: var(--quote-image-end, url(/images/svg/end-quote.svg));
  }
}

blockquote {
  @include up-from(xxlarge) {
    font-size: 1.5rem;
  }
  &:after {
    right: 1rem;
  }

  &:after,
  &:before {
    background-color: var(--Primary);
  }
}

.testimonial {
  display: flex;
  padding: var(--site-padding);
  flex-direction: column;

  .description {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    min-height: 4rem;
  }

  .author {
    font-size: 1.1rem;
  }

  img,
  .placeholder-image {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    margin-bottom: 2rem;
    @include up-from(xxlarge) {
      width: 10rem;
      height: 10rem;
    }
  }

  .placeholder-image {
    svg {
      width: 100%;
      height: 100%;
      fill: var(--Secondary);
    }
  }

  .quote-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* for quotes */
    padding-right: 2rem;
    @include up-from(medium) {
      justify-content: space-between;
    }
    @include up-to(medium) {
      .quote {
        margin-left: 2rem;
      }
    }
    @include up-from(xxlarge) {
      .quote {
        font-size: 1rem;
      }
    }
  }
}

.level-beginner {
  background: var(--Secondary50);
}

.level-intermediate {
  background: var(--Primary50);
}

.level-advanced {
  background: var(--Primary);
}

#students {
  background: var(--Background50);
  .testimonial .placeholder-image,
  .testimonial img {
    margin-bottom: 0;
  }
}
.testimonials {
  padding: var(--site-padding) 0;
}

.quote-wrapper {
  padding: 1.5rem 2rem;
  .quote {
    margin-left: auto;
    max-width: 100%;
  }
}

.brick:nth-child(4n - 7) {
  --accent-color: var(--Primary);
}

.brick:nth-child(4n - 6) {
  --accent-color: var(--Primary);
}

.brick:nth-child(4n - 5) {
  --accent-color: var(--Primary);
}

.brick:nth-child(4n - 4) {
  --accent-color: var(--Primary);
}
.brick {
  background: var(--Background);
  color: var(--Texts);
  padding: 2rem;
}

.masonry {
  margin-top: 0;
  --masonry-gap: var(--site-padding);
  --masonry-brick-width: 34rem;
  column-gap: var(--masonry-gap);
  column-fill: initial;
  column-width: var(--masonry-brick-width);
  margin: 0 auto;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap);
}

@supports (grid-template-rows: masonry) {
  .masonry {
    display: grid;
    gap: var(--masonry-gap);
    grid-template-rows: masonry;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--masonry-brick-width), 1fr)
    );
    align-tracks: stretch;
  }

  .masonry > * {
    margin-bottom: initial;
  }
}

.large-img {
  img,
  .placeholder-image {
    width: 8rem;
    height: 8rem;
  }
}

.testimonial {
  .learn-more {
    a {
      &::after {
        background: currentColor;
      }
      &:hover,
      &:active {
        &::after {
          background: var(--Primary50);
        }
      }
    }
  }
}
