{% set headerClassName = headerClassName or 'header-hero-full' %}
{% set inlineJs %}
    {% include "scripts/inline-critical.js"%}
{% endset %}
{% set pageCriticalStyles = pageCriticalStyles or['/css/index.scss'] %}
{% if not pageJs %}
    {% set pageJs = pageJs or "/scripts/shared.js" %}
{% endif %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        {% include 'partials/meta.njk' %}
        {% include 'partials/fonts.njk' %}
        {% if preload %}
            {% for item in preload %}
                <link rel="preload" as="{{item.as}}" href="{{item.href}}" crossorigin="anonymous"/>
            {% endfor %}
        {% endif %}
        <link rel="stylesheet" href="/css/reset.scss" />
        <link rel="stylesheet" href="/css/critical.scss" />
        <style>
            :root { 
                --quote-image-start: url(/images/svg/start-quote.svg);
                --quote-image-end: url(/images/svg/end-quote.svg);
            }
        </style>

        {# Add facility for pages to declare an array of critical styles #}
        {% if pageCriticalStyles %}
            {% for item in pageCriticalStyles %}
                 <link rel="stylesheet" href="{{ item }}" />
            {% endfor %}
        {% endif %}
        {%- if helpers.production -%}
            <script>
                /* just wasn't worth the effort, removed it. */
                if ("serviceWorker" in navigator) {
                    navigator
                        .serviceWorker
                        .getRegistrations()
                        .then(function (registrations) {
                            for (let registration of registrations) {
                                registration
                                    .unregister()
                                    .catch((e) => console.error("Failed to unregisted service worker", e));
                                console.log("Unregistered service worker")
                            }
                        });
                }
            </script>
        {%- endif -%}
       
        <script src="{{ pageJs }}" type="module"></script>
    </head>
    {% if not skipLinkAnchor %}
        {% set skipLinkAnchor = "#main-content" %}
    {% endif %}
    <body>
        <div class="wrapper">
            <a class="skip-link action-button" href="{{skipLinkAnchor}}">Skip to content</a>
            {%- include 'partials/nav.njk' %}
            {%- include 'partials/header.njk' %}
            <main id="main-content" tabindex="-1" {% if mainClass %}class="{{mainClass}}"{% endif %}>
                {% block content %}{% endblock %}
            </main>
            {% include 'partials/components/footer.njk' %}
        </div>
         <script>
            {{ inlineJs | jsmin | safe }}
        </script>
        {% include 'partials/analytics.html' %}
    </body>
</html>