{% set pageCriticalStyles = pageCriticalStyles or ['/css/index.scss'] %}
{% if not pageJs %}
    {% set pageJs = pageJs or "/scripts/index.js" %}
{% endif %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
    <head>
        {% include 'partials/fonts.njk' %}
        <link rel="stylesheet" href="/css/reset.scss" />
        <link rel="stylesheet" href="/css/critical.scss" />
        <style>
            html,body {
                background:  white;
            }
        </style>

        {# Add facility for pages to declare an array of critical styles #}
        {% if pageCriticalStyles %}
            {% for item in pageCriticalStyles %}
                 <link rel="stylesheet" href="{{ item }}" />
            {% endfor %}
        {% endif %}
    </head> 
    <body>
        {{content | safe}}
        {% if pageJs %}
        <script src="{{ pageJs }}" type="module"></script>
        {% endif %}
    </body>
</html>