{% set pageCriticalStyles = ['css/index.css'] %}
{% set headerClassName = headerClassName or 'header-hero-full' %}

{% extends "layouts/base.njk" %}

{% block content %}

{{content | safe}}
{% endblock %}

{% block footer %}
{% endblock %}

