{% set pageCriticalStyles = ['css/index.css'] %}
{% extends "layouts/base.njk" %}

{% block content %}

<article class="padded-around">
{{content | safe}}
</article>
{% endblock %}

{% block footer %}
   <span>Custom Footer Content</span>
{% endblock %}

