@mixin  default-theme {
    --Background: #{$bg};
    --Background50: #{$bg-50};
    --Secondary: #{$secondary};
    --Secondary50: #{$secondary-50};
    --SecondaryText: #{$white};
    --SecondaryText50: #{$text-50};
    --Primary: #{$primary};
    --Primary50: #{$primary-50};
    --PrimaryText: #{$white};
    --Text: #{$secondary};
    --LogoAlt: #{$logo-alt};
    --IconColor: var(--Secondary);
    --IconColorBg: var(--SecondaryText50);
}