/* Theme */
$bg: #fff;
$bg-50: #f0f0f0;
$secondary: #1a1a1a;
$secondary-30: #323232; 
$secondary-50: #1c1c1c; 
$secondary-70: #2a2a2a; 
$secondary-90: #212020; 
$text-50: #adadad;
$primary:#82212c;
$primary-50: #5a363a;
$text: #1a1a1a;
$white: #f0f0f0;
$logo-alt: #f3f3f3;

@import "./themes/default";