/* Theme */
$bg: #f0f0f0;
$bg-50: #f3f3f3;
$secondary: #1a1a1a;
$secondary-50: #2E2B2B;
$text-50: #adadad;
$primary:#82212c;
$primary-50: #5a363a;
$text: #1a1a1a;
$white: #f0f0f0;
$logo-alt: #f3f3f3;

@import "./themes/default";
