$bp-xsmall: 25em;
$bp-small: 40em;
$bp-medium-small: 48em;
$bp-medium: 64em;
$bp-large: 85em;
$bp-xl:120em;
$bp-xxl: 160em;

$height-small: 30em;
$height-small-portrait: 40em;

:root {
    --site-padding: 1.5rem;
    --site-header: 4rem;
}