@import "variables";
@import "mixins";
@import "colors";


html {
    font-family: "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
    @include default-theme;
    font-size: calc(1rem + 0.3vw);
}

/* Utilities */
@import "./utils/visually-hidden";

/* Components */
@import "./components/header";
@import "./components/logo";
@import "./components/nav";
@import "./components/video";
@import "./components/hero";
@import "./components/callToAction";
@import "./components/cardGrid.scss";
@import "./components/footer";
@import "./components/testimonials";
@import "./components/icondesc";
@import "./components/burgerMenu";
@import "./components/social";
@import "./components/aboutCard";

body,html {
    margin: 0;
    background: var(--Secondary);
    color: var(--Text);
    scroll-padding-top: calc((var(--site-header) + var(--site-padding)) - 5px);
}

:focus, #more:target {
    outline: 1px dashed var(--Primary);
    outline-offset: 0.3rem;
}

main:focus {
    outline: none;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.wrapper  {
    height: 100%;
}

.contained {
    > * {
        max-width: 60rem;
        margin: 0 auto;
    }
}

main {
   

    background: var(--Background);
    position: relative;
    z-index: 3;
    p {
        margin-bottom: 0.5rem;
    }

    article {
        &> h2 {
            padding-top:var(--site-padding);
        }
    }

    > article:not(.no-padding) {
        padding: 0 var(--site-padding)
    }

    article.padded-around {
        padding: var(--site-padding);
    }

    .secondary-article {
        background: var(--Background50);
    }

    .padded {
        padding: 4.4rem 0
    }

    .padded-med {
        padding: 2rem 0rem;
    }

    .padded-sm {
        padding: 1rem 0
    }

    .site-padded {
        padding-left: var(--site-padding);
        padding-right: var(--site-padding);
    }
}

.skip-link {
    position: absolute;
    top:calc(var(--site-padding) / 3);
    left:var(--site-padding);
    z-index: 99;
    margin-top:1.5rem;
    color: inherit;
    &:not(:focus) {
        @extend .visually-hidden;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 20ch;

    @include up-from(xxlarge) {
        font-size: 5rem;
    }
    @include up-to(small) {
        /* mobiles and 100vh are fucking stupid 100vh excludes controls */
        font-size: 2.4rem;
    }

    @include up-to(xsmall) {
        /* mobiles and 100vh are fucking stupid 100vh excludes controls */
        font-size: 2.2rem;
    }
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 600;
}


.bottom-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex:2;
    margin-top:3rem;
    > * {
        font-size: 0.875rem;
        margin-bottom: 0;
        line-height: 1rem;
    }
    a {
        padding-bottom:0.25rem;
        border-bottom: solid 5px currentColor;
    }
}

.learn-more {
    margin:1rem 0;
    color: currentColor;
    a {
        font-size: 1rem;
        border-bottom: solid 5px var(--Primary);
        &:hover, &:active {
            border-bottom: solid 5px currentColor;
        }
    }
}