@import "reset";
@import "variables";
@import "mixins";
@import "colors";


html {
    font-family: "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
    @include default-theme;
    font-size: calc(1rem + 0.5vw);
}

/* Utilities */
@import "./utils/visually-hidden";

/* Components */
@import "./components/header";
@import "./components/logo";
@import "./components/nav";
@import "./components/video";
@import "./components/hero";
@import "./components/callToAction";
@import "./components/footer";


body,html {
    background: var(--Secondary);
    color: var(--Text);

}

:focus {
    outline: 1px dashed var(--Primary);
    outline-offset: 0.3rem;
}

main:focus {
    outline: none;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.wrapper  {
    height: 100%;
}

main {
    background: var(--Background);
    position: relative;
    z-index: 3;
    padding: var(--site-padding);

    p {
        margin-bottom: 0.5rem;
    }
}

.skip-link {
    position: absolute;
    top:calc(var(--site-padding) / 3);
    left:var(--site-padding);
    z-index: 99;
    margin-top:1.5rem;
    color: inherit;
    &:not(:focus) {
        @extend .visually-hidden;
    }
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 20ch;

    @include up-from(xxlarge) {
        font-size: 5rem;
    }
    @include up-to(small) {
        /* mobiles and 100vh are fucking stupid 100vh excludes controls */
        font-size: 2.4rem;
    }
}

h2,h3 {
    font-weight: 600;
}