@import "variables";
@import "mixins";

.star-card {
    .content-card {
        background: transparent;
    }

    background: var(--Background50);
}
@include up-from(small) {
    .star-card {
        --min-column-size:480px;
    }
}