{%- set testimonials = [{
    data: {
        "name": "Place Holder"
    },
    templateContent: "This is a sample quote for CG Guitar tuition"
}]
%}

{%- set starRating = {
    data: {
        title: "Placeholder, edit the real content in 'Globals' Star rating."
    }
} -%}

{%- include "partials/testimonials.njk" -%}