{%- if aboutSection -%}
<article class="about-section no-padding">
    {%- set item = aboutSection.items[0] -%}
    {# {%- for item in aboutSection.items -%} #}
    <section>
        {%- if item.type == 'card' %}
            {%- set aboutCard = item %}
            {%- include 'partials/components/card.njk' -%}
        {%- elseif item.type == 'quote' %}
            {%- set quoteCard = item %}
            {%- include 'partials/components/quote.njk' -%}
        {%- elseif item.type == 'playlist' %}
            {%- set playlistItem = item -%}
            {%- set playlist = playlistItem | fetchYouTubePlaylist -%}
            {%- include 'partials/video-playlist.njk' -%}
        {%- endif -%}
    </section>
    {# {%- endfor -%} #}
</article>
{%- endif %}