{%- if aboutCard %}
<figure id="{{aboutCard.title | slug}}" class="about-card card-{{aboutCard.direction}}">
    <div class="content">
        <h2>{{aboutCard.title}}</h2>
        {%- for content in aboutCard.content -%}
            <p>{{content}}</p>
        {%- endfor -%}
        {%- if aboutCard.link -%}
        <div class="learn-more flex-end flex-push" ><a href="{{aboutCard.link.url}}">{{aboutCard.link.text}}</a></div>
        {%- endif -%}
    </div>
    {%- if aboutCard.image -%}{%- image aboutCard.image.src, aboutCard.image.alt -%}{%- endif -%}
</figure>
{%- endif %}