{%- set filteredComponents = helpers.filterComponents(components, collections.components) %}
{%- asyncEach component in filteredComponents -%}
    {%- ifAsync component.type === "custom" -%}
        {%- include component.componentPath -%}
    {%-else -%}
        {%- include component.componentPath -%}
    {%- endif -%}
{%- endeach -%}