<li><a target="_top" href="mailto:{{metadata.author.email}}"><span>Email: </span>{{metadata.author.email}}</a></li>
<li><a href="tel:{{metadata.author.phone}}" aria-label="Telephone number, {{metadata.author.phone | ariatel }}"><span>Tel: </span>{{metadata.author.phone}}</a></li>