{% set footerInfo = footer or {callToAction: true} %}
<footer>
    <article class="footer-grid">
        {% if footerInfo.callToAction %}
        <section class="call-to-action">
            <h2>Talk to me about lessons today</h2>
            <p class="subtitle">CG Guitar is the right place for you!</p>
            <p class="subtitle">1 to 1, group classes and workshops available.</p>
            <a class="action-button cta-primary" href="/contact/">Get in touch</a>
            <p class="description">Lessons are held online via Zoom for the foreseeable.</p>
        </section>
        {% endif %}
        <section>
            <h3>Info</h3>
            <ul class="footer-links">
                {% include 'partials/contact-data.njk' %}
                <li class="sub-info">I’m also available to hire for session work, please get in touch.</li>
            </ul>
            <h3>Keep Updated</h3>
            <p class="sub-header">Follow me on social media to keep up with the latest news, I post free educational content on my
            <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/{{metadata.author.youtube}}">YouTube channel.</a></p>
            <ul class="footer-links social-links">
                {% include 'partials/social.njk' %}
            </ul>
        </section>
        <section>
        <h3 id="more">More</h3>
        <ul class="footer-links">
            <li><a href="/privacy/">Privacy Policy</a></li>
            {%- for entry in collections.all | eleventyNavigation | skip(4) %}
            <li class="{% if entry.url == page.url %} active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
            {%- endfor %}
            </ul>
        </section>
        {% block footer %}{% endblock %}
    </article>
    {% include './copyright.njk' %}
</footer>
