<form name="contact" action="/success/" netlify-honeypot="bot-field" method="POST" data-netlify="true" class="site-padded grid-small">
    <p class="visually-hidden">
        <label>You are robot if fill this: <input name="bot-field" /></label>
    </p>
    <div class="form-grid">
        <fieldset>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required/>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"/>
            </div>
            <div class="field">
                <label for="telephone">Telephone</label>
                <input type="telephone" name="telephone" id="telephone"/>
            </div>
        </fieldset>
        <div class="field">
            <label for="message">Your message</label>
            <textarea required name="message" id="message"></textarea>
        </div>
    </div>
    <fieldset>
        <div class="field">
            <legend>How would you prefer to be contacted?</legend>
            <div class="inline-field">
                <label for="prefers_email">Email</label>
                <input checked type="radio" name="prefers" id="prefers_email" value="email"/>
                <label for="prefers_tel">Telephone</label>
                <input type="radio" name="prefers" id="prefers_tel" value="telephone"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="field">
        <legend for="accept_priv">Please confirm that you have read and accept our <a href="/policies/#privacy-policy">Privacy Policy</a>.</legend>
        <div class="inline-field">
            <input required type="checkbox" name="accept_priv" id="accept_priv"/>
            <label for="accept_priv">I accept</label>
        </div>
    </fieldset>
    <button class="action-button cta-primary" type="submit">Submit</button>
</form>