{%- if gridContent %} {%- set items = gridContent.icons %} {%- set video =
gridContent.video %} {%- set heading = gridContent.heading %} {%- set quote =
gridContent.quote %} {%- if video %} {%- set youtube = {"id": video.id } %} {%
if video.thumbnail %} {%- set videoImage = video.thumbnail | imgmin %} {% else
%} {%- set ytImg = "https://i.ytimg.com/vi/" + youtube.id +
"/maxresdefault.jpg"%} {%- set videoImage = ytImg | imgmin %} {% endif %} {%-
endif %}
<div class="width-container">
  <article
    class="grid-content {%- if gridContent.class %} {{gridContent.class}}{%- endif -%}"
  >
    {%- if heading %}
    <h2 style="padding-top: 1rem">{{heading}}</h2>
    {%- endif %} {%- if quote %}
    <blockquote>{{quote}}</blockquote>
    {%- endif %}
    <div class="card-grid grid-start grid-gap grid-columns">
      <section style="width: 100%; height: 100%">
        <ul class="card-grid online-content icondesc grid-icons">
          {%- for item in items %}
          <li class="padded-med">
            {%- if item.link -%}
            <a
              class="card-icon-link"
              {%-
              if
              item.link.label
              -%}
              aria-label="{{helpers.placeholders(item.link.label, GRID_TEXT_PLACEHOLDER)}}"
              {%-
              endif
              %}
              target="{{item.link.target}}"
              href="{{helpers.placeholders(item.link.href, GRID_TEXT_PLACEHOLDER)}}"
            >
              {%- endif %} {%- if item.image -%} {%- include item.image -%} {%-
              endif %} {%- if item.text -%}
              <p>
                {{helpers.placeholders(item.text, GRID_TEXT_PLACEHOLDER) |
                safe}}
              </p>
              {%- endif %} {%- if item.link -%}
            </a>
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      </section>
    </div>
  </article>
</div>
{%- endif %}
