{%- if gridContent %}
{%- set items = gridContent.items %}
{%- set video = gridContent.video %}
<article class="padded-sm site-padded{%- if gridContent.class %} {{gridContent.class}}{%- endif%}">
    {%- if gridContent.title %}
    <h3 class="section-title">{{gridContent.title}}</h3>
    {%- endif %}
    <div class="card-grid grid-center grid-gap grid-columns">
        {%- if video -%}
        <section class="video-section">
            {% youtube video.id %}
            <a class="watch-more" href="/media/">Watch more</a>
        </section>
        {%- endif %}
        <section>
            <ul class="card-grid online-content icondesc grid-icons">
                {%- for item in items %}
                    <li>
                        {%- if item.link -%}
                        <a href="{{item.link}}">
                        {%- endif %}
                        {%- if item.image -%}
                            {% include item.image -%}
                        {%- endif %}
                        {%- if item.text -%}
                            <p>{{helpers.placeholders(item.text, GRID_TEXT_PLACEHOLDER) | safe}}</p>
                        {%- endif %}
                        {%- if item.link -%}
                        </a>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>
    </section>
    </div>
</article>
{%- endif %}
