{%- set hero = heros[heroName] or hero -%}
{% if hero %}
    {% set image = hero.image or {src: "images/hero.jpg", "alt": "CG Guitars' Charlie playing guitar on stage"} %}
    {% set callToAction = hero.callToAction %}
    <div class="hero{% if hero.size %} hero-{{hero.size}}{% endif %}">
        <div class="hero-text">
            <h1>{{hero.title}}</h1>
            {% if hero.subtitle %}
                <p class="subtitle">{{hero.subtitle}}</p>
            {%endif %}
            {% if hero.callToAction %}
                <div class="call-to-action">
                {% for item in hero.callToAction %}
                    {% set type = item.type or "primary" %}
                        <a {% if helpers.isExternalLink(item.link) -%}target="_blank"{%-endif -%} class="action-button cta-{{type}}" href="{{item.link}}">{{item.text}}</a>
                {% endfor %}
                </div>
            {% endif %}
            {% if hero.description %}
                <p class="description">{{hero.description | safe}}</p>
            {% endif %}
            {% if hero.heroLink %}
                <p class="hero-link description">
                    <span>{{hero.heroLink.description | safe}}</span>
                    <a href="{{hero.heroLink.href}}">{{hero.heroLink.text}}</a>
                </p>
            {% endif %}
        </div>
        {%- Image image.src, image.alt -%}
        <div class="hero-scroll-down">
            <a aria-label="Scroll to learn more" href="#main-content">
                {% include 'images/chevron_down.svg' %}
            </a>
        </div>
    </div>
{% endif %}
