{% if logosSection %}
<article>
    <ol class="card-grid icondesc {{logosSection.class}}">
        {%- for item in logosSection.items %}
            <li class="logo-small">
                {% if loop.index % 2 -%}
                {%- image "images/cg-logo-alt-black.svg", "CG Guitar logo" -%}
                {% else %}
                    {%- image "images/cg-logo-alt.svg", "CG Guitar logo" -%}
                {% -endif -%}
                {%- if item.title -%}
                <h2 {% if (loop.index % 2) != 0 %}class="primary-text"{%- endif %}>{{item.title}}</h2>
                {%- endif -%}
                <p>{{item.text}}</p>
            </li>
        {%- endfor %}
    </ol>
</article>
{% endif %}
