{%- set pageTitle = title + ' - ' + metadata.title -%}
{# We don't want any duplication. This is likely for the home page. #}
{%- if metadata.name === title -%}
    {% set pageTitle = title -%}
{%- endif -%}
{% set siteTitle = metadata.title %}
{% set currentUrl = metadata.url + page.url %}
{%- if not socialImage -%}
  {%- set socialImage = 'images/meta/default-social.jpeg' -%} 
{%- endif -%}
{%- set socialImage = socialImage | imgmin -%} 
{%- set socialImage = metadata.url + socialImage -%} 
{%- set tagline = description or metadata.description -%}
<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>
<link rel="manifest" href="{{metadata.manifest.path}}">
<meta name="author" content="{{author or metadata.author.name}}">
<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>

{%- if socialImage %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{{ socialImage }}"/>
    <meta name="twitter:image" content="{{ socialImage }}"/>
    <meta property="og:image:alt" content="Page image for {{ metadata.title }}"/>
    <meta name="twitter:image:alt" content="Page image for {{ metadata.title }}"/>
{% endif %}

{%- if tagline %}
    <meta name="description" content="{{ tagline }}"/>
    <meta name="twitter:description" content="{{ tagline }}"/>
    <meta property="og:description" content="{{ tagline }}"/>
{% endif %}

<link rel="icon" href="/images/meta/favicon.svg" sizes="any" type="image/svg+xml" />