<div class="nav">
    <a class="site-logo" aria-label="Head to home" href="/">
    {% include "images/cg-logo.svg" %}
    {% set maxLinks= 5 %}
    <span>CG Guitar<span>
    </a>
        <nav>
            <ul class="nav-links">
                {%- for entry in collections.all | eleventyNavigation | head(maxLinks) %}
                <li data-desktop-hidden class="{% if entry.url == page.url %} active{% endif %}">
                    <a data-link-key="{{ entry.title | slugify }}" {%- if helpers.isExternalLink(entry.url) -%}target="_blank"{%-endif%} href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
                {%- endfor %}
                <li data-more-trigger><a class="more-link" aria-label="More" href="#more">{% include 'images/chevron_down.svg' %}</a></li>
                <li>
                <burger-menu max-width="800">
                            <ul class="burger-list">
                                {%- for entry in collections.all | eleventyNavigation %}
                                    <li data-overflow-link class="{% if entry.url == page.url %} active{% endif %}">
                                        <a data-link-key="{{ entry.title | slugify }}" {% if helpers.isExternalLink(entry.url) -%}target="_blank"{%-endif%} href="{{ entry.url | url }}">{{ entry.title }}</a>
                                    </li>
                                {%- endfor %}
                            </ul>
                            <div class="menu-info">
                                <ul class="social-links">
                                    {%- include 'partials/social.njk' -%}
                                </ul>
                                 <ul class="contact-data">
                                    {%- include 'partials/contact-data.njk' -%}
                                </ul>
                            </div>
                    </burger-menu>
                </li>
            </ul>
        </nav>
</div>