<p class="star-rating">
<span>5.0</span>
{%- include 'images/star.svg' %}
</p>
<div class="learn-more">
    <a target="_blank" rel="nopener" href="https://search.google.com/local/reviews?placeid=ChIJLWGHwJHEdUgR9lSrCaHDa-c">As seen on Google reviews.</a>
</div>