<div class="star-rating">
{%- include 'images/star.svg' -%}
<h2 style="margin:0;">{{title or '5-star rated guitar tuition'}}</h2>
</div>
<div class="star-link learn-more">
    <a target="_blank" rel="nopener" href="https://search.google.com/local/reviews?placeid=ChIJLWGHwJHEdUgR9lSrCaHDa-c">As seen on Google reviews.</a>
</div>
