{%- if video.channel %}
    <div class="icon-link section-title">
        <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/{{metadata.author.youtube}}">
        {% include 'img/youtube.svg' %}
        <span>Subscribe to my YouTube channel.<span></a></p>
    </div>
{%- endif %}