<article id="students">
    <h2>{{title}}</h2>
    <ul class="testimonials masonry">
    {%- asyncEach testimonial in collections.testimonial | reverse %}
        {%- include "partials/components/testimonial.njk" %}
    {%- endeach %}
    </ul>
</article>