<article id="students">
    <h2 style="margin:0;">{{title}}</h2>
    {%- include "partials/star-rating.njk"%}
    <ul class="testimonials masonry">
    {%- asyncEach testimonial in collections.testimonial | reverse %}
        {%- include "partials/components/testimonial.njk" %}
    {%- endeach %}
    </ul>
</article>