
{% if levels %}
<article style="--min-column-size:300px" class="no-padding">
    <section class="block-title">
        <h2>{{levels.title}}</h2>
        <p class="description">{{levels.description | safe}}</p>
    </section>
    <div style="--grid-ish-size: 18em;" class="grid-ish testimonial-levels">
    {%- for item in levels.items %}
        <section class="testimonial level level-{{item.title | lower }}">
            <h3>{{item.title}}</h3>
            <p class="description">{{item.text}}</p>
            <div class="quote-wrap">
                {%- if item.image -%}
                {%- image item.image, "CG Guitar student profile picture", true -%}
                {%- else -%}
                    <div class="placeholder-image">
                        {%- include 'img/default-test.svg' %}
                    </div>
                {%- endif -%}
                <p class="quote">{{item.quote}}</p>
            </div>
            {%- if (loop.index == (levels.items.length)) -%}
                <div class="bottom-section">
                    <a aria-label="Read more testimonials" href="/testimonials/#students">Read more</a>
                </div>
            {%- endif -%}
        </section>
    {%- endfor %}
    </div>
</article>
{% endif %}
